body {
  background-color: azure;
  /* height: 100%; */
}
.container {
  height: 100vh;
}
.wrapper {
  border: solid 1px salmon;
  width: 100%;
  padding: 3rem;
}
.row {
  /* height: 100%; */
  /* margin: 100px; */
}
.col {
  border: solid 1px blue;
}
